* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contenedor {
    width: 100%;
    margin: 0 5% 0 0;
}

.contenido {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.full {
    margin: 0;
    padding: 0;
    width: 100%;
}

.imagen{

    width: 100%;
    height: fit-content;
    text-align: center;
    padding: 10px 0 0 0;

    .imgRes {
        width: fit-content;
    }
}



.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
}

@media screen and (max-width: 800px) {
    .contenido {
        flex-direction: column;
    } 
}


@import "components/header";
@import "components/main";
@import "components/footer";
