footer {
    background-color: #2a85c2;
    position: absolute;
    bottom: 0;

    .links {
        background:#c0392b;
        display:flex;
        flex-wrap:wrap;

        a {
            flex-grow:1;
            color:#fff;
            padding:10px;
            text-align: center;
            text-decoration:none;
        }

        a:hover {
            background:#E74C3C;
        }
    }

    .social {
        background:#e67e22;

        a {
            color:#fff;
            text-decoration: none;
            padding:10px;
            display: inline-block;
        }
    }

}

@media screen and (max-width: 800px) {
    footer {
        position: initial;
    } 
}
