
header{
    background-color: #2a85c2;
}
.logo {
    img {
        width: 100%;
    }
}

nav{
    width: 50%;
    display: flex;
    flex-flow: wrap;
    align-items: center;

    a {
        background-color: #c0392b;
        color: #fff;
        text-align: center;
        padding: 10px;
        flex-grow: 1;
    }

    a:hover {
        background-color: #e74c3c;
    }
}

@media screen and (max-width: 800px) {
    header {
        .header {
            padding: 0;
        }
       
        .logo {
            padding: 15px 0;
        } 

        nav{
            width: 100%;
        }
    } 
}