main{
    background: #fff;

    .main {
        align-items: flex-start;
        flex-grow: 1;

        .section {
            flex: 1 1 60%;
            background-color:#eeeeee;
    
            .mainTitulo{
                padding: 10px;
                background-color: aquamarine;
                text-align: center;
            }
            article {
                padding: 10px;
            }
        }
        .aside {
            flex: 1 1 40%;
            padding: 0 0 0 15px;
            .widget{
                width: 100%;
                
            }
        }


        form {
            width: 80% !important;
            justify-content: center;
        
            label {
                width: 100%;
                font-size: 11pt;
                color: grey;
                padding-bottom: 10px;
                text-transform: capitalize;
            }
            
            input {
                width: 100%;
                padding: 5px;
                font-size: 12pt;
                margin-bottom: 10px;
            }
            
            .cien {
                width: 100%;
                text-align: right;
            }
            .enviar {
                width: 30%;
            }
        }

        @media screen and (max-width: 800px) {
            .aside {
                padding: 20px 0;
            }

            input {
                width: 100%;
                padding: 5px;
                font-size: 14pt;
                margin-bottom: 10px;
            }
        }
    }
}
